<app-search></app-search>
<app-tags></app-tags>
<app-not-found
[visible]="!avatarparts || !avatarparts.length"
resetLinkText="Reset Search">
</app-not-found>
<ul>
    <li *ngFor="let avatar of avatarparts">
        <a routerLink="/avatarparts/{{avatar.id}}">
            <img [src]="avatar.imageUrl" [alt]="avatar.name"/>
            <div class="content">
                <div class="name">
                    {{avatar.name}}
                </div>
                <span class="favorite {{avatar.favorite?'':'not'}}">
                    ♥
                </span>
                <div class="product-item-footer">
                    <div class="origins">
                        <span *ngFor="let origin of avatar.origin">
                            {{origin}}
                        </span>
                    </div>
                    <div class="price">
                        <span>
                            {{avatar.price | currency}}
                        </span>
                    </div>
                </div>
            </div>
        </a>
    </li>
</ul>
