<nav class="navbar bg-dark">
    <div class="container text-center collapse navbar-collapse" id="navMain">
      <div class="row">
        <div class="col-6">
          <ul class="navbar-nav me-auto mb-2">
            <li class="nav-item">
              <a class="nav-link text-light" href="/">Homepage</a>
            </li>
          </ul>
        </div>
        <div class="col-6">
          <ul class="navbar-nav me-auto mb-2">
            <li class="nav-item">
              <a class="nav-link text-light" href="/profile">Profile</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>