<nav class="nav navbar-expand-md navbar-light bg-dark">
    <!-- <div class="container-fluid">
      <a class="navbar-brand text-light" href="/">User Create Read Update Delete</a>
      <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navMain"
        aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div> -->
    <div class="container text-center collapse navbar-collapse" id="navMain">
        <div class="row">
          <div class="col-6">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link text-light" href="/">Homepage</a>
              </li>
            </ul>
          </div>
          <div class="col-6">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link text-light" href="/profile">Profile</a>
              </li>
            </ul>
          </div>
        </div>
      </div>