<div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="avatar-box text-center">
          <img src="./assets/img/User.png" alt="avatar" class="avatar">
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="text-primary">Name: Arana</h2>
        <p class="text-secondary">User Bio:</p>
        <p>Vana Valuka Nara Valuka Vanarana Mahavanaranapna Vanagni Marana Aranara Nara 
            Ararakalari Apshvaana Sarva Silapna Bija Utsava Vasara Vasoma Varuna Aranyaka
            Ashvattha Hilinara</p>
        <div class="row mt-4">
            <div class="col-6">
                <a class="nav-link text-light" href="/editbio">
                <button type="button" class="btn btn-primary" >Edit Bio</button>
                </a>
            </div>
            <div class="col-6">
                <a class="nav-link text-light" href="/editavatar">
                <button type="button" class="btn btn-primary">Edit Avatar</button>
                </a>
            </div>
        </div>
    </div>
</div>
